<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ninja.skyrocketing.bot.fuyao.mapper.bot.BotFunctionTriggerMapper">
  <resultMap id="BaseResultMap" type="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="char_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="trigger_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="trigger_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="keyword" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="impl_class" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="enabled" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="shown" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, char_id, trigger_name, trigger_comment, keyword, impl_class, enabled, shown
  </sql>
  <select id="selectAllFunctionTrigger"  resultType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    select *
    from bot_function_trigger
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_function_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bot_function_trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    insert into bot_function_trigger (id, char_id, trigger_name, 
      trigger_comment, keyword, impl_class, 
      enabled, shown)
    values (#{id,jdbcType=INTEGER}, #{charId,jdbcType=VARCHAR}, #{triggerName,jdbcType=VARCHAR}, 
      #{triggerComment,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{implClass,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=BIT}, #{shown,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    insert into bot_function_trigger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="charId != null">
        char_id,
      </if>
      <if test="triggerName != null">
        trigger_name,
      </if>
      <if test="triggerComment != null">
        trigger_comment,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="implClass != null">
        impl_class,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="shown != null">
        shown,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="charId != null">
        #{charId,jdbcType=VARCHAR},
      </if>
      <if test="triggerName != null">
        #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerComment != null">
        #{triggerComment,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="implClass != null">
        #{implClass,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="shown != null">
        #{shown,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    update bot_function_trigger
    <set>
      <if test="charId != null">
        char_id = #{charId,jdbcType=VARCHAR},
      </if>
      <if test="triggerName != null">
        trigger_name = #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerComment != null">
        trigger_comment = #{triggerComment,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="implClass != null">
        impl_class = #{implClass,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="shown != null">
        shown = #{shown,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotFunctionTrigger">
    update bot_function_trigger
    set char_id = #{charId,jdbcType=VARCHAR},
      trigger_name = #{triggerName,jdbcType=VARCHAR},
      trigger_comment = #{triggerComment,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      impl_class = #{implClass,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT},
      shown = #{shown,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>