<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ninja.skyrocketing.bot.fuyao.mapper.bot.BotGameFishingMapper">
  <resultMap id="BaseResultMap" type="ninja.skyrocketing.bot.fuyao.pojo.bot.BotGameFishing">
    <constructor>
      <idArg column="fish_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fish_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fish_probability" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="fish_value" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="is_special" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="special_group" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    fish_id, fish_name, fish_probability, fish_value, is_special, special_group
  </sql>
  <select id="getFishValueById" parameterType="java.lang.String" resultType="java.lang.Long">
    select
    fish_value
    from bot_game_fishing
    where fish_id = #{fishId,jdbcType=VARCHAR}
</select>
  <select id="getAllFish" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from bot_game_fishing
    order by fish_probability asc
  </select>
  <select id="selectFishNameByPrimaryKey" parameterType="java.lang.String" resultType="java.lang.String">
    select
    fish_name
    from bot_game_fishing
    where fish_id = #{fishId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_game_fishing
    where fish_id = #{fishId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotGameFishing">
    insert into bot_game_fishing (fish_id, fish_name, fish_probability, 
      fish_value, is_special, special_group
      )
    values (#{fishId,jdbcType=VARCHAR}, #{fishName,jdbcType=VARCHAR}, #{fishProbability,jdbcType=DOUBLE}, 
      #{fishValue,jdbcType=BIGINT}, #{isSpecial,jdbcType=BIT}, #{specialGroup,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotGameFishing">
    insert into bot_game_fishing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fishId != null">
        fish_id,
      </if>
      <if test="fishName != null">
        fish_name,
      </if>
      <if test="fishProbability != null">
        fish_probability,
      </if>
      <if test="fishValue != null">
        fish_value,
      </if>
      <if test="isSpecial != null">
        is_special,
      </if>
      <if test="specialGroup != null">
        special_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fishId != null">
        #{fishId,jdbcType=VARCHAR},
      </if>
      <if test="fishName != null">
        #{fishName,jdbcType=VARCHAR},
      </if>
      <if test="fishProbability != null">
        #{fishProbability,jdbcType=DOUBLE},
      </if>
      <if test="fishValue != null">
        #{fishValue,jdbcType=BIGINT},
      </if>
      <if test="isSpecial != null">
        #{isSpecial,jdbcType=BIT},
      </if>
      <if test="specialGroup != null">
        #{specialGroup,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotGameFishing">
    update bot_game_fishing
    <set>
      <if test="fishName != null">
        fish_name = #{fishName,jdbcType=VARCHAR},
      </if>
      <if test="fishProbability != null">
        fish_probability = #{fishProbability,jdbcType=DOUBLE},
      </if>
      <if test="fishValue != null">
        fish_value = #{fishValue,jdbcType=BIGINT},
      </if>
      <if test="isSpecial != null">
        is_special = #{isSpecial,jdbcType=BIT},
      </if>
      <if test="specialGroup != null">
        special_group = #{specialGroup,jdbcType=BIGINT},
      </if>
    </set>
    where fish_id = #{fishId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ninja.skyrocketing.bot.fuyao.pojo.bot.BotGameFishing">
    update bot_game_fishing
    set fish_name = #{fishName,jdbcType=VARCHAR},
      fish_probability = #{fishProbability,jdbcType=DOUBLE},
      fish_value = #{fishValue,jdbcType=BIGINT},
      is_special = #{isSpecial,jdbcType=BIT},
      special_group = #{specialGroup,jdbcType=BIGINT}
    where fish_id = #{fishId,jdbcType=VARCHAR}
  </update>
</mapper>