<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ninja.skyrocketing.bot.fuyao.mapper.user.UserCoinMapper">
  <resultMap id="BaseResultMap" type="ninja.skyrocketing.bot.fuyao.pojo.user.UserCoin">
    <constructor>
      <idArg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="coin" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="get_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, coin, get_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_coin
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_coin
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserCoin">
    insert into user_coin (user_id, coin, get_date
      )
    values (#{userId,jdbcType=BIGINT}, #{coin,jdbcType=BIGINT}, #{getDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserCoin">
    insert into user_coin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="coin != null">
        coin,
      </if>
      <if test="getDate != null">
        get_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=BIGINT},
      </if>
      <if test="getDate != null">
        #{getDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserCoin">
    update user_coin
    <set>
      <if test="coin != null">
        coin = #{coin,jdbcType=BIGINT},
      </if>
      <if test="getDate != null">
        get_date = #{getDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserCoin">
    update user_coin
    set coin = #{coin,jdbcType=BIGINT},
      get_date = #{getDate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>