<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ninja.skyrocketing.bot.fuyao.mapper.user.UserExpRankNameMapper">
  <resultMap id="BaseResultMap" type="ninja.skyrocketing.bot.fuyao.pojo.user.UserExpRankName">
    <constructor>
      <idArg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="exp_offset" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rank_1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_5" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_6" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rank_7" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, exp_offset, rank_1, rank_2, rank_3, rank_4, rank_5, rank_6, rank_7
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_exp_rank_name
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_exp_rank_name
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserExpRankName">
    insert into user_exp_rank_name (user_id, exp_offset, rank_1, 
      rank_2, rank_3, rank_4, 
      rank_5, rank_6, rank_7
      )
    values (#{userId,jdbcType=BIGINT}, #{expOffset,jdbcType=INTEGER}, #{rank1,jdbcType=VARCHAR}, 
      #{rank2,jdbcType=VARCHAR}, #{rank3,jdbcType=VARCHAR}, #{rank4,jdbcType=VARCHAR}, 
      #{rank5,jdbcType=VARCHAR}, #{rank6,jdbcType=VARCHAR}, #{rank7,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserExpRankName">
    insert into user_exp_rank_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="expOffset != null">
        exp_offset,
      </if>
      <if test="rank1 != null">
        rank_1,
      </if>
      <if test="rank2 != null">
        rank_2,
      </if>
      <if test="rank3 != null">
        rank_3,
      </if>
      <if test="rank4 != null">
        rank_4,
      </if>
      <if test="rank5 != null">
        rank_5,
      </if>
      <if test="rank6 != null">
        rank_6,
      </if>
      <if test="rank7 != null">
        rank_7,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="expOffset != null">
        #{expOffset,jdbcType=INTEGER},
      </if>
      <if test="rank1 != null">
        #{rank1,jdbcType=VARCHAR},
      </if>
      <if test="rank2 != null">
        #{rank2,jdbcType=VARCHAR},
      </if>
      <if test="rank3 != null">
        #{rank3,jdbcType=VARCHAR},
      </if>
      <if test="rank4 != null">
        #{rank4,jdbcType=VARCHAR},
      </if>
      <if test="rank5 != null">
        #{rank5,jdbcType=VARCHAR},
      </if>
      <if test="rank6 != null">
        #{rank6,jdbcType=VARCHAR},
      </if>
      <if test="rank7 != null">
        #{rank7,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserExpRankName">
    update user_exp_rank_name
    <set>
      <if test="expOffset != null">
        exp_offset = #{expOffset,jdbcType=INTEGER},
      </if>
      <if test="rank1 != null">
        rank_1 = #{rank1,jdbcType=VARCHAR},
      </if>
      <if test="rank2 != null">
        rank_2 = #{rank2,jdbcType=VARCHAR},
      </if>
      <if test="rank3 != null">
        rank_3 = #{rank3,jdbcType=VARCHAR},
      </if>
      <if test="rank4 != null">
        rank_4 = #{rank4,jdbcType=VARCHAR},
      </if>
      <if test="rank5 != null">
        rank_5 = #{rank5,jdbcType=VARCHAR},
      </if>
      <if test="rank6 != null">
        rank_6 = #{rank6,jdbcType=VARCHAR},
      </if>
      <if test="rank7 != null">
        rank_7 = #{rank7,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ninja.skyrocketing.bot.fuyao.pojo.user.UserExpRankName">
    update user_exp_rank_name
    set exp_offset = #{expOffset,jdbcType=INTEGER},
      rank_1 = #{rank1,jdbcType=VARCHAR},
      rank_2 = #{rank2,jdbcType=VARCHAR},
      rank_3 = #{rank3,jdbcType=VARCHAR},
      rank_4 = #{rank4,jdbcType=VARCHAR},
      rank_5 = #{rank5,jdbcType=VARCHAR},
      rank_6 = #{rank6,jdbcType=VARCHAR},
      rank_7 = #{rank7,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>